root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8
indent_style = space

[*.{js,vue,json,sass,scss,css}]
indent_size = 2

# 4 space indentation
[*.{py,html,xml,rb},Vagrantfile]
indent_size = 4
